@{
    ViewBag.Title = "User Role";
}
<div class="panel panel-primary">
    <div class="panel-heading">
        <h3 class="panel-title">User Roles</h3>
    </div>
    <div class="panel-body">
        <div>
            <table id="list"></table>
            <div id="pager" />
        </div>
    </div>
</div>



@Scripts.Render("~/bundles/jqgrid")
@Scripts.Render("~/bundles/SubscriberRole")
